<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<% let filePath = jsonData.pages[pageId].filePath %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@s_tanabe">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <link rel="icon" href="<%= filePath %>assets/images/icon/favicon-32x32.png" sizes="32x32">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="<%= filePath %>assets/styles/vendors/lity.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link href="<%= filePath %>assets/styles/vendors/swiper-bundle.min.css" rel="stylesheet">
  <link href="<%= filePath %>assets/styles/style.min.css" rel="stylesheet">
</head>

<body id="top" data-character="1">
  
  <div class="IEblock"><div class="comment_block"><p>このブラウザは閲覧非対応です。</p></div></div>
  
  <header class="l-header">
    <div class="l-header__gradient"></div>
    <div class="l-header__inner">
      <h1 class="l-header__logo">
        <a href="/">
          <img src="./assets/images/title.png" alt="ghost" loading="lazy">
        </a>
      </h1>
      <div class="l-header__wrap--pc">
        <nav class="l-header-nav">
          <ul class="l-header-nav__list">
            <li class="l-header-nav__item">
              <a href="#top">
                最初
              </a>
            </li>
            <li class="l-header-nav__item">
              <a href="#about">
                概要
              </a>
            </li>
            <li class="l-header-nav__item">
              <a href="#story">
                物語
              </a>
            </li>
            <li class="l-header-nav__item">
              <a href="#chara">
                登場人物
              </a>
            </li>
            <li class="l-header-nav__item">
              <a href="#system">
                進行方法
              </a>
            </li>
            <li class="l-header-nav__item">
              <a href="#product">
                製品情報
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="l-header__wrap--sp">
        <div class="l-drawer__trigger js-draw--trigger">
          <span class="-line"></span>
        </div>
      </div>
    </div>
  </header>
  <div class="l-drawer__bg js-draw--bg">&nbsp;</div>
  <nav class="l-drawer__content js-draw--content">
    <a href="">
      <figure class="l-drawer__logo">
        <img src="./assets/images/title.png" alt="">
      </figure>
    </a>
    <div class="l-drawer__wrap">
      <ul class="l-drawer__list l-drawer__list--menu">
        <li class="l-drawer__item">
          <a href="#top" class="js-draw--trigger">
            最初
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#about" class="js-draw--trigger">
            概要
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#story" class="js-draw--trigger">
            物語
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#chara" class="js-draw--trigger">
            登場人物
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#system" class="js-draw--trigger">
            進行方法
          </a>
        </li>
        <li class="l-drawer__item">
          <a href="#product" class="js-draw--trigger">
            製品情報
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="c-icon c-icon__scroll u-dp-pc">
    <p class="c-icon__txt c-icon__txt--scroll">scroll</p>
  </div>